$pink: #e50;
$white: #eee;

body {
  background: url('../images/imgs.jpg');
}

a {
  color: $pink;
  display: inline-block;
  text-decoration: none;
  transition: all 100ms ease-in;
  width: 50px;
}

.isactive {
  border-bottom: 1px solid rgba($white, 0.7);
  font-weight: 800;
}


