<!DOCTYPE html>
<html>

<head>
    <!--<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'"
    />-->

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <title>Web everywhere</title>

    <%= htmlWebpackPlugin.options.link %>
</head>

<body>
    <div class="app">
    </div>
    <%if(mobile) { %>
        <%= htmlWebpackPlugin.options.cordova = `<script type="text/javascript" src="cordova.js" />` %>
            <% } %>
                <%if(desktop || mobile ) { %>
                    <%= htmlWebpackPlugin.options.js %>
                        <% } %>

</body>



</html>